<div class="container">
  <%# タイトル %>
  <div class="service-title">
    <section class="hero-wrap hero-wrap-2">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread"><%= @service.name %></h1>
            <p class="breadcrumbs">
              <span>
                <%= link_to root_path do %>
                  <i class="fas fa-home"></i>
                  <%= 'HOME' %>
                <% end %>
                <i class="fas fa-angle-double-right mx-2"></i>
                <%#= パーシャル_titleのhtml要素 %>
                <%= link_to services_path do %>
                  <i class="fas fa-truck"></i>
                  <%= 'サービス一覧' %>
                <% end %>
                <i class="fas fa-angle-double-right mx-2"></i>
                <%= @service.name %>
              </span>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="text-center bg-light">
  <%= @service.name %>
  <div class="col-sm-12">
    <%= simple_format(@service.body) %>
    <%= render 'reviews/rate_average', { service: @service } %>
  </div>
  <div class="col-sm-12 my-4">
    <%= link_to '公式HPはコチラ！', @service.service_url, target: :_blank, rel: 'noopener noreferrer' %>
  </div>
  <%= image_tag "services/#{@service.service_image}", width: '60%', height: '60%' %>
  <div class="col-sm-12 my-4">
    <%= link_to 'このサービスのメニューはコチラ！', service_menus_path(@service) %>
  </div>
  <div class="my-5">
    <%= link_to '口コミを投稿する！', new_service_review_path(@service), data: create_alert_data %>
  </div>
  <%#= render 'reviews/form', { service: @service, review: @review } %>
  <%= render 'reviews/reviews', { reviews: @reviews } %>
</div>