<div class="container">
  <%# タイトル %>
  <div class="service-title">
    <%= render 'shared/title', text: @service.name, html: ''.html_safe %>
  </div>
  <%# serviceの詳細 %>
  <div class="text-center bg-light row py-3 service-container"><%# パーシャル化したい %>
    <div class="col-lg-6">
      <div class="mb-4">
        <h2><%= @service.name %></h2>
        <%= render 'reviews/rate_average', { service: @service } %>
      </div>
      <h4><%= simple_format(@service.body) %></h4>
      
      <div class="col-sm-12 my-5 px-5">
        <%= link_to @service.service_url, target: :_blank, rel: 'noopener noreferrer', class: 'hp-button' do %>
        <i class="fas fa-caret-square-right"></i>
        <span>公式HPはコチラ！</span>
        <% end %>
      </div>
      <div class="row p-3">
        <div class="col-md-6">
          <div class="card">
            <%= link_to service_menus_path(@service), class: 'text-dark card-link' do %>
              <%= image_tag 'services/menuguide.png', class: 'card-img' %>
              <div class="card-body"><h5>メニューを見てみる</h5></div>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <%= link_to new_service_review_path(@service), data: login_confirm, class: 'text-dark card-link' do %>
              <%= image_tag 'reviews/reviewguide.jpg', class: 'card-img' %>
              <div class="card-body"><h5>口コミを投稿する！</h5></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 pt-5 px-3">
      <%= image_tag "services/#{@service.service_image}", class: 'service-img-size size-adjust img-fluid' %>
    </div>
  </div>
  <%# 口コミ一覧の表示 %>
  <div class="mt-5">
    <%= render 'reviews/reviews', { reviews: @reviews } %>
  </div>
</div>

