<div class="container">
  <%# タイトル %>
  <div class="user-title">
    <%= render 'shared/title', text: 'プロフィール', html: ''.html_safe %>
  </div>

  <div class="row mt-3">
    <div class="col-md-10 offset-md-1">
      <table class="table mt-5">
        <tr>
          <th scope="row"><i class="fas fa-envelope mr-2"></i><%= t(User.human_attribute_name(:email)) %></th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th scope="row"><i class="fas fa-pen mr-2"></i><%= t(User.human_attribute_name(:name)) %></th>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th scope="row"><i class="fas fa-user-circle  mr-2"></i><%= t(User.human_attribute_name(:avatar)) %></th>
          <td><%= image_tag current_user.avatar.url, class: 'rounded-circle', size: '50x50' %></td>
        </tr>
      </table>
      <div class='text-center my-5 py-4 col-8 mx-auto'>
        <%= link_to edit_profile_path, class:'flowbtn fl_user' do %>
          <i class="fas fa-user-edit"></i>
          <span>プロフィールを変更する</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
