<div class="<%= "col-sm-12 col-lg-4 mb-3" unless current_page?('/menu_rank') %>">
  <%= link_to service_menu_path(menu.service, menu) do%>
    <div class="card h-100">
      <% if current_page?('/all_menus') %>
        <div class="col-sm-12 card-header text-center">
            <%= "#{menu.service.name}のメニュー"  %>
        </div>
      <% end %>
      <div class="card-body card-size">
        <div class="col-sm-12">
          <%= simple_format(menu.name) %>
        </div>
        <div>
          <%= render partial: 'nutrient', collection: menu.nutrients %>
        </div>
        <div class="col-sm-12 text-danger">
          <%= simple_format(menu.note) %>
        </div>
      </div>
      <div class="ml-4 col-sm-12 footer">
        <%= image_tag "menus/#{menu.menu_image}", size: '300x200' %>
        <%= render 'menu_likes/like_button', { menu: menu } %>
      </div>
    </div>
  <% end %>
</div>