<div class="col-sm-12">
  <div>
    <%= "#{nutrient.size}サイズ" if nutrient.size %>
    <%= "#{nutrient.calorie}kcal" %>
  </div>
  <%= "タンパク質：#{nutrient.protein}g" %>
  <%= "脂質：#{nutrient.fat}g" %>
  <%= "炭水化物：#{nutrient.carb}g" %>
</div>