<%= search_form_for @q, url: url do |f| %>
  <div class="input-group container my-3">
    <%= f.select :service_id_eq, Service.pluck(:name, :id), { include_blank: 'サービス指定' } %>
    <%= f.select :nutrients_calorie_lteq, { '200kcal以下': 200, '300kcal以下': 300, '400kcal以下': 400, '500kcal以下': 500, '600kcal以下': 600 }, { include_blank: 'カロリー制限' } %>
    <%= f.select :nutrients_protein_gteq, {'タンパク質30g以上': 30.0, 'タンパク質40g以上': 40.0, 'タンパク質50g以上': 50.0, 'タンパク質60g以上': 60.0 }, { include_blank: '必要なタンパク質' } %>
    <%= f.select :nutrients_fat_lteq, { '脂質5g以下': 5.0, '脂質10g以下': 10.0, '脂質20g以下': 20.0, '脂質30g以下': 30.0 }, { include_blank: '脂質制限' } %>
    <%= f.select :nutrients_carb_lteq, { '炭水化物10g以下': 10.0, '炭水化物20g以下': 20.0, '炭水化物30g以下': 30.0, '炭水化物40g以下': 40.0, '炭水化物50g以下': 50.0 }, { include_blank: '炭水化物制限' } %>
    <%= f.search_field :name_cont, class: 'form-control', placeholder: '商品名（トマト、カレー、パスタ　など）' %>
    <div class="input-group-append">
      <%= f.submit '検索', class: 'btn btn-primary' %>
    </div>  
  </div>
  <div class="text-center">
    <%= link_to '検索条件をクリアする', '/all_menus' %>
  </div>
<% end %>