<meta name="viewport" content="width=960">
<div class="container">
  <%# タイトル %>
  <div class="menu-title">
    <%= render 'shared/title', text: 'メニュー一覧', html: ''.html_safe %>
  </div>
</div>
<div class="my-5">
  <%= render 'search', q: @q, url: '/all_menus' %>
</div>
<div class="d-flex align-items-center justify-content-center mb-2">
  <%= page_entries_info @menus %>
</div>
<div class="container-fluid">
  <div class="row">
    <%= render @menus %>
  </div>
</div>
<div class="d-flex align-items-center justify-content-center">
  <%= paginate @menus %>
</div>