<% @menus.each do |menu| %>
  <div class="col-sm-12">
    <%= menu.name %>
  </div>
  <div class="col-sm-12">
    <%= menu.size %>
    <%= "#{menu.calorie}kcal" %>
    <%= "タンパク質：#{menu.protein}g" %>
    <%= "脂質：#{menu.fat}g" %>
    <%= "炭水化物：#{menu.carb}g" %>
  </div>
  <div class="col-sm-12">
    <%= image_tag "menus/#{menu.menu_image}", width: '60%', height: '60%' %>
  </div>
<% end %>
