<div class="container">
  <section class="hero-wrap hero-wrap-2">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">ランキング</h1>
          <p class="breadcrumbs"><span class="mr-2">
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
              <span>Home</span>
            <% end %>
            <span class="px-2">></span>
            <i class="fas fa-medal"></i>
            <span>ランキング</span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <%= link_to service_rank_path, class: 'nav-link' do %>
        <i class="fas fa-truck"></i>
        <span>サービスランキング</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to menu_rank_path, class: 'nav-link font-weight-bold active' do %>
        <i class="fas fa-utensils"></i>
        <span>メニューランキング</span>
      <% end %>
    </li>
  </ul>
  <div class="text-center bg-light">
    <% @menu_like_ranks.each.with_index(1) do |rank, i| %>
      <div class="py-5 border border-top-0">
        <%= "第#{i}位"%>
        <%#= render 'menu', { menu: rank } %>
        <%= link_to "#{rank.service.name}のメニュー", service_path(rank.service), class: "card-header text-center" if current_page?('/all_menus') %>
        <%# ここらへんにserviceのロゴとか入れたい %>
        <%= link_to service_menu_path(rank.service, rank), class: "text-dark card-link" do %>
          <div class="card-body card-size">
            <div class="col-sm-12">
              <%= simple_format(rank.name) %>
            </div>
            <div>
              <%= render partial: 'nutrient', collection: rank.nutrients %>
            </div>
            <div class="col-sm-12 text-danger">
              <%= simple_format(rank.note) %>
            </div>
          </div>
          <div class="ml-4 col-sm-12 footer">
            <%= image_tag "menus/#{rank.menu_image}", size: '300x200' %>
            <%= render 'menu_likes/like_button', { menu: rank } %>
          </div>
        <% end %>
      </div>
    <% end %>
  <div>
</div>