<div class="container">
  <%# タイトル 共通化したい %>
  <div class="rank-title">
    <%= render 'shared/title', text: 'ランキング', html: ''.html_safe %>
  </div>

  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <%= link_to service_rank_path, class: 'nav-link' do %>
        <i class="fas fa-truck"></i>
        <span>サービスランキング</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to menu_rank_path, class: 'nav-link font-weight-bold active' do %>
        <i class="fas fa-utensils"></i>
        <span>メニューランキング</span>
      <% end %>
    </li>
  </ul>

  <!--同率順位表示のためのコード-->
  <% last_like = 0 %>
  <% j = 1 %>

  <div class="text-center bg-light responsive-size">
    <% @menu_like_ranks.each.with_index(1) do |rank, i| %>
      <div class="py-5 border border-top-0">
        <!--順位が1位のときlast_likeに値は入っていないため、１位のいいねのカウント数を代入-->
        <% if i == 1 %>
          <% last_like = rank.menu_likes.count %>
        <% end %>

        <!--last_likeといいね数比べて、違うなら次の順位表示-->
        <% if rank.menu_likes.count != last_like %>
          <% j = i %>
          <%# メニューの内容 %>
          <%= render 'ranking_menu_content', { j: j, menu: rank } %>
          <% last_like = rank.menu_likes.count %>

        <!--last_likeといいね数比べて同じ場合の処理、同じ順位を表示-->
        <% else %>  
          <%# メニューの内容 %>
          <%= render 'ranking_menu_content', { j: j, menu: rank } %>
          <% last_like = rank.menu_likes.count %>
        <% end %>
      </div>
    <% end %>
  <div>
</div>