<header>
  <nav class="navbar navbar-expand-lg navigation navbar-dark bg-dark">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item p-2">
          <%= link_to '宅配サービス一覧', services_path, class: 'nav-link' %>
        </li>
        <li class="nav-item p-2">
          <%= link_to '全メニュー一覧', '/all_menus', class: 'nav-link' %>
        </li>
        <li class="nav-item p-2">
          <%= link_to 'ランキング', '#', class: 'nav-link' %>
        </li>

        <li class="nav-item dropdown dropdown-slide p-2">
          <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="header-profile">
            <%= image_tag current_user.avatar_url, size: '40x40', class: 'rounded-circle mr15' %>
            <%= current_user.name %>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-item"></div>
            <div class="dropdown-divider"></div>
            <%= link_to 'お気に入り', '#', class: 'dropdown-item' %>
            <%= link_to 'プロフィール', profile_path, class: 'dropdown-item' %>
            <%= link_to 'ログアウト', logout_path, class: 'dropdown-item', method: :delete %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>