<%# services/show menus/index reviews/new　のみpartial使わず %>
<section class="hero-wrap hero-wrap-2">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread"><%= text %></h1>
        <p class="breadcrumbs">
          <span>
            <%= link_to root_path do %>
              <i class="fas fa-home"></i>
              <%= 'HOME' %>
            <% end %>
            <i class="fas fa-angle-double-right mx-2"></i>
            <%= html %>
            <%= judge_page %> <%# 特定のページの場合、パンくずをrender処理%>
            <%= text %>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>