<tr id="review-<%= review.id %>">
  <td style="width: 60px">
    <%= image_tag review.user.avatar_url, class: 'rounded-circle', size: '50x50' %>
  </td>
  <td>
    <h3 class="small"><%= review.user.name %></h3>
    <div id="js-review-<%= review.id %>">
      <%= simple_format(review.title) %>
      <%= simple_format(review.body) %>
    </div>
    <h4 class="mb-3">評価：<%= review.rate %>点</h4>
    <div id="star-rate-<%= review.id %>"></div>


      <% review.review_images.each do |review_image| %>
        <%= image_tag review_image.to_s, class: 'card-img-top', size: '300x200' if review.review_images.present? %>
      <% end %>


    <div id="js-textarea-review-box-<%= review.id %>" style="display: none;">
      <textarea id="js-textarea-review-<%= review.id %>" class="form-control mb-1"><%= review.body %></textarea>
      <button class="btn btn-light js-button-edit-review-cancel" data-review-id="<%= review.id %>">キャンセル</button>
      <button class="btn btn-success js-button-review-update" data-review-id="<%= review.id %>">更新</button>
    </div>
  </td>
  
  <script>
    $('#star-rate-<%= review.id %>').raty({
      starOff:  '<%= asset_path('reviews/star-off.png') %>',
      starOn : '<%= asset_path('reviews/star-on.png') %>',
      starHalf: '<%= asset_path('reviews/star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= review.rate %>,
    });
  </script>  

  <%# if current_user.own?(review) %>
    <td class="action">
      <ul class="list-inline justify-content-center" style="float: right;">
        <li class="list-inline-item">
          <a href="#" class='js-edit-review-button' data-review-id="<%= review.id %>">
            <%#= icon 'fa', 'pen' %>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class='js-delete-review-button' data-review-id="<%= review.id %>">
            <%#= icon 'fas', 'trash' %>
          </a>
        </li>
      </ul>
    </td>
  <%# end %>
</tr>