<tr id="review-<%= review.id %>">
  <td style="width: 60px">
    <%= image_tag review.user.avatar_url, class: 'rounded-circle', size: '50x50' %>
  </td>
  <td>
    <h6 class="small text-left pt-3"><%= review.user.name %></h6>
    <div class='arrow_box'>
      <div id="js-review-<%= review.id %>">
        <h4><%= simple_format(review.title) %></h4>
        <%= simple_format(review.body) %>
      </div>
      <div class="d-flex justify-content-center">
        <div class="m-3" id="star-rate-<%= review.id %>"></div>
        <h4 class="my-3"><%= review.rate %>点</h4>
      </div>
      <% review.review_images.each do |review_image| %>
        <%= image_tag review_image.to_s, size: '300x200' if review.review_images.present? %>
      <% end %>
      <div class="pt-4">
        <%= render 'review_likes/like_button', { review: review } %>
      </div>
      <div id="js-textarea-review-box-<%= review.id %>" style="display: none;">
        <textarea id="js-textarea-review-<%= review.id %>" class="form-control mb-1"><%= review.body %></textarea>
        <button class="btn btn-light js-button-edit-review-cancel" data-review-id="<%= review.id %>">キャンセル</button>
        <button class="btn btn-success js-button-review-update" data-review-id="<%= review.id %>">更新</button>
      </div>
    </div>
  </td>
  
  <script>
  $('#star-rate-<%= review.id %>').empty();
    $('#star-rate-<%= review.id %>').raty({
      starOff:  '<%= asset_path('reviews/star-off.png') %>',
      starOn : '<%= asset_path('reviews/star-on.png') %>',
      starHalf: '<%= asset_path('reviews/star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= review.rate %>,
    });
  </script>  

  <%# if current_user.own?(review) %>
    <td class="action">
      <ul class="list-inline justify-content-center" style="float: right;">
        <li class="list-inline-item">
          <a href="#" class='js-edit-review-button' data-review-id="<%= review.id %>">
            <%#= icon 'fa', 'pen' %>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class='js-delete-review-button' data-review-id="<%= review.id %>">
            <%#= icon 'fas', 'trash' %>
          </a>
        </li>
      </ul>
    </td>
  <%# end %>
</tr>